<div class="container">
    <div class="row">
        <div class="col">
        <h2 style="text-align: center;">Administrador</h2>
        </div>
    </div>
    <br>
    <br>
    <div class="container" style="background-color: rgba(255, 255, 255,0.5); border: solid 5px black;">
        <h2>Lista de usuarios</h2>
        <br>
        <div class="row">
            <div class="col-8">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre Completo</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Contraseña</th>
                        <th scope="col">Editar</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <th scope="row">Nombre</th> 
                        <th scope="row">Usuario</th>
                        <th scope="row">**********</th>
                        <th scope="row"><button class="btn btn-primary" style="border:solid 3px black">Editar Usuario</button></th>
                      </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-4">
              <div class="container">
                <h2>Borrar por ID</h2>
                <input type="text" class="form-control" placeholder="Ingrese ID" style="margin-bottom: 1%;">
                <button class="btn btn-danger" style="border: solid 3px black; width: 100%;">Borrar Usuario</button>
              </div>
              <div class="container">
                <div class="container" style="margin-bottom: 3%;">
                  <h1>Editar Usuario</h1>
                  <input type="text" class="form-control" placeholder="Nombre Completo" style="margin-bottom: 1%;">
                  <input type="text" class="form-control" placeholder="Contraseña" style="margin-bottom: 1%;">
                  <button class="btn btn-danger" style="border: solid 3px black; width: 100%;">Guardar Cambios</button>
                </div>
              </div>
            </div>
        </div>
      </div>
</div>